  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function(){
      $('.sidenav').sidenav();
    });
</script>