 <!-- Modal Structure -->
  <!-- <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Change Image</h4>
      <div class="row">
        <form action="/article/update/image/<%=  %>" method="post" enctype="multipart/form-data">
          <div class="row">
            <div class="input-field col s12 ">
             <div class="file-field input-field">
                <div class="btn white-text light-blue darken-2">
                  <span>Image</span>
                  <input type="file" name="articleImage" id="file">
                </div>
              <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
              </div>
            </div>
             </div>
                <img id="image"/>
            </div>
            <input class="waves-effect waves-light btn light-blue darken-2" type="submit">
        </form>
      </div>
      
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">close</a>
    </div>
  </div>   -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function(){
      $('.sidenav').sidenav();
    });
</script>