<% include header %>
<div class="container">
    <h4><%= title %></h4>
    
    <br>
    <form action="/user/register" method="post">
      <div class="row">
        <div class="input-field col s12 ">
          <input id="name" type="text" class="validate" name="name" required>
          <label for="name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 ">
            <input id="email" type="text" class="validate" name="email" required>
            <label for="email">Email</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field col s12 ">
            <input id="username" type="text" class="validate" name="username" required>
            <label for="username">Username</label>
        </div>
      </div>
        <div class="row">
        <div class="input-field col s12 ">
            <input id="password" type="password" class="validate" name="password" required>
            <label for="password">Password</label>
        </div>
      </div>
        <div class="row">
        <div class="input-field col s12 ">
            <input id="password2" type="password" class="validate" name="password2" required>
            <label for="password2">Confirm Password</label>
        </div>
      </div>
      <div class="row">
        <input class="waves-effect waves-light btn white-text light-blue darken-2" type="submit" value="Register">
      </div>
    </form>
  </div>
<% include footer %>