body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#messages{
  text-align: center;
  background:#a5d6a7;
  color: white;
  width: 50%;
  margin: 1% auto;
}

input.waves-button-input{
  color:white;
}